.layout {
  display: grid;
  grid-template-columns: [full-start] minmax(24px,1fr) [center-start] minmax(640px,1400px) [center-end] minmax(24px,1fr) [full-end];
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}

.content {
  grid-column: center-start/center-end;
}